<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="charleese's web development portfolio">
  <meta name="author" content="Charleese Burns">

  <title>Charleese Burns</title>

  <!-- bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- custom CSS -->
  <link href="../css/main.css" rel="stylesheet">

  <!-- custom fonts -->
  <link href="../fontawesome/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Charm&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://kit.fontawesome.com/1116b753b4.js" crossorigin="anonymous"></script>

</head>




<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <div class="container-fluid">

    <!-- navigation -->
    <div class="container">
      <div class="row">
        <div class="topnav" id="myTopnav">
          <a href="#page-top" class="active">Charleese Burns</a>
          <a href="#about">About</a>
          <a href="#portfolio">Projects</a>
          <a href="#skills">Skills</a>
          <a href="#contact">Contact</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
    </div> 
    <!-- end navigation -->

    <!-- intro section -->
    <div class="row intro">
      <div id="overlay"></div>
      <div class="col-md-12 intro-body text-left">
        <h1>Charleese Burns</h1>
        <p>Web Developer</p>
      </div>
    </div> <!-- end intro section -->

    <!-- about section -->
    <div id="about" class="row content text-center">
      <div class="col-md-12">
        <h2>About</h2>
        <hr>
        <br>
        <p class="p-text">Web creator born & raised in The Bahamas, committed to learning and creating the future one website at a time. Gained skills at <a href="http://www.digitalcrafts.com/" style="color: white"
            target="_blank"><strong>Digitalcrafts</strong></a> in Atlanta, Georgia.
            <br>Lover of all sports, video games, movies and music.</p>
      </div>
    </div> <!-- end about section -->

    <!-- portfolio section -->
    <div id="portfolio" class="row content text-center">
      <div class="container">
        <div class="col-md-12">
          <h2>Projects</h2>
          <hr>
          <br>
        </div>
        <div class="col-med-6">
          <div class="portfolio-box">
            <p>Planet of the shapes<br><span class="tools">HTML,CSS, JavaScript,Canvas, Express,PostgreSQL,Socket Io.</span></p>
            <a href="http://planetoftheshapes.xyz/" target="_blank"><img src="../views/images/potsimage.gif"
                class="img-responsive" alt="potsimage" /></a>
            <p><a href="https://github.com/CharleeseB/Planet-of-shapes" class="btn btn-default btn-lg"
                target="_blank">repo</a> <a href="http://planetoftheshapes.xyz/" class="btn btn-default btn-lg"
                target="_blank">demo</a></p>
          </div>
        </div> 
        <div class="col-med-6">
          <div class="portfolio-box">
            <p>Movie Trivia App<br><span class="tools">HTML,CSS,JavaScript</span></p>
            <a href="https://github.com/CharleeseB/Trivia-Web-App" target="_blank"><img src="../views/images/Moviaapp.gif"
                class="img-responsive" alt="Movieapp" /></a>
            <p><a href="https://github.com/CharleeseB/Trivia-Web-App" class="btn btn-default btn-lg"
                target="_blank">repo</a> <a href="https://github.com/CharleeseB/Trivia-Web-App" class="btn btn-default btn-lg"
                target="_blank">demo</a></p>
          </div>
        </div>
      </div>
    </div> 
    <!-- end portfolio section -->

    <!-- skills section -->
    <div id="skills" class="row content text-center">
      <div class="col-md-12">
        <h2>Skills</h2>
        <hr>
        <br>
      </div>
      <div class="col-sm-3">
        <i class="fab fa-html5 fa-4x" aria-hidden="true"></i>
        <p>HTML5</p>
      </div>
      <div class="col-sm-3">
        <i class="fab fa-css3-alt fa-4x" aria-hidden="true"></i>
        <p>CSS</p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-code fa-4x" aria-hidden="true"></i>
        <p>JavaScript</p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-usd fa-4x" aria-hidden="true"></i>
        <p>jQuery</p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-database fa-4x" aria-hidden="true"></i>
        <p>Redux</p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-bolt fa-4x" aria-hidden="true"></i>
        <p>Express</p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-code-fork fa-4x" aria-hidden="true"></i>
        <p>React</p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-terminal fa-4x" aria-hidden="true"></i>
        <p>Node.js</p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-file-code-o fa-4x" aria-hidden="true"></i>
        <p>Python</p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-flask fa-4x" aria-hidden="true"></i>
        <p>Turtle</p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-database fa-4x" aria-hidden="true"></i>
        <p>PostgreSQL</p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-diamond fa-4x" aria-hidden="true"></i>
        <p>Express</p>
      </div>
    </div> <!-- end skills section -->

    <!-- contact section -->
    <div id="contact" class="row content text-center">
      <div class="col-md-12">
        <h2>Let's chat!</h2>
        <hr>
        <br>
        <p>Feel free to reach out about working together!</p>
        <ul class="list-inline social-btns">
          <li>
            <a href="mailto:charleeseburns1@yahoo.com" class="btn btn-default btn-lg"><img class="button-image" src="../views/images/emailIcon.png"
                aria-hidden="true"></i><span class="network-name"> Email</span></a>
          </li>
          <li>
            <a href="https://github.com/CharleeseB" target="_blank" class="btn btn-default btn-lg"><img class="button-image" src="../views/images/gitlogo.png"
            aria-hidden="true"></i><span class="network-name"> Github</span></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/charleese-burns-143377189/" target="_blank"
              class="btn btn-default btn-lg"><img class="button-image" src="../views/images/linkedinlogo.png" aria-hidden="true"></i><span
                class="network-name"> Linkedin</span></a>
          </li>
          <li>
            <a href="https://www.slideshare.net/slideshow/embed_code/key/f3vGUokESDu9pd" target="_blank" class="btn btn-default btn-lg"><i class="far fa-file" aria-hidden="true"></i><span class="network-name"> Resume</span></a>
          </li>
        </ul>
      </div>
      <!-- map -->
      <div class="col-md-12 map">
        <div id="map"></div>
      </div>
    </div> <!-- end contact section -->


    <!-- footer -->
    <footer>
      <div class="row content text-center">
        <div class="col col-sm-2"></div>
        <div class="col col-sm-8">
          <p>Created in Atlanta, Ga | copyright &copy;2019<br> <a href="mailto:Charleeseburns1@yahoo.com"
              style="color: hsla(192, 87%, 66%, 0.685)"><strong>Charleeseburns1@yahoo.com</strong></a></p>
        </div>
        <div class="col col-sm-2">
          <!-- back to top button -->
          <a href="#page-top" class="page-scroll back-to-top btn btn-default btn-md">Back To Top<i class="fa fa-arrow-up fa-fw"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </footer> <!-- end footer -->

  </div> <!-- end container-fluid -->

  <!-- jQuery -->
  <script src="../js/jquery.js"></script>
  <!-- bootstrap core JavaScript -->
  <script src="../js/bootstrap.min.js"></script> 
  <!-- jQuery easing -->
  <script src="../js/jqueryeasing.min.js"></script>
  <!-- custom JavaScript -->
  <script src="../js/index.js"></script>

</body>

</html>